RewriteEngine on
RewriteRule ^page/index/(.*)$ index.php?r=page/index&category=$1 [L]
RewriteRule ^page/(.*)/(.*)$ index.php?r=page/$1&p_name=$2 [L]
RewriteRule ^page/create$ index.php?r=page/create [L]
RewriteRule ^classifieds/detail/(.*)$ index.php?r=classifieds/detail&id=$1 [L]
RewriteRule ^classifieds/(.*)$ index.php?r=classifieds/$1 [L]
RewriteRule ^event/single/(.*)$ index.php?r=event/single&id=$1 [L]
RewriteRule ^event/(.*)$ index.php?r=event/$1 [L]
RewriteRule ^news/detail/(.*)$ index.php?r=news/single&id=$1 [L]
RewriteRule ^news/(.*)$ index.php?r=news/$1 [L]
RewriteRule ^site/(.*)$ index.php?r=site/$1 [L]
RewriteRule ^staff/detail/(.*)$ index.php?r=staff/detail&id=$1 [L]
RewriteRule ^staff/(.*)$ index.php?r=staff/$1 [L]