RewriteEngine on
RewriteRule ^page/create$ index.php?r=page/create [L]
RewriteRule ^page/index$ index.php?r=page/index [L]
RewriteRule ^page/(.*)/(.*)$ index.php?r=page/$1&p_name=$2 [L]
RewriteRule ^page/(.*)$ index.php?r=page/show&p_name=$1 [L]
RewriteRule ^staff/create$ index.php?r=staff/create&mid=employee [L]
RewriteRule ^staff/read/(.*)$ index.php?r=staff/read&mid=employee&id=$1 [L]
RewriteRule ^staff/update/(.*)$ index.php?r=staff/update&mid=employee&id=$1 [L]
RewriteRule ^staff/delete/(.*)$ index.php?r=staff/delete&mid=employee&id=$1 [L]
RewriteRule ^(.*)/create$ index.php?r=$1/create&mid=$1 [L]
RewriteRule ^(.*)/read/(.*)$ index.php?r=$1/read&mid=$1&id=$2 [L]
RewriteRule ^(.*)/update/(.*)$ index.php?r=$1/update&mid=$1&id=$2 [L]
RewriteRule ^(.*)/delete/(.*)$ index.php?r=$1/delete&mid=$1&id=$2 [L]
RewriteRule ^classifieds/detail/(.*)$ index.php?r=classifieds/detail&id=$1 [L]
RewriteRule ^classifieds/(.*)$ index.php?r=classifieds/$1 [L]
RewriteRule ^event/single/(.*)$ index.php?r=event/single&id=$1 [L]
RewriteRule ^event/(.*)$ index.php?r=event/$1 [L]
RewriteRule ^news/detail/(.*)$ index.php?r=news/detail&id=$1 [L]
RewriteRule ^news/(.*)$ index.php?r=news/$1 [L]
RewriteRule ^site/(.*)$ index.php?r=site/$1 [L]
RewriteRule ^staff/detail/(.*)$ index.php?r=staff/detail&id=$1 [L]
RewriteRule ^staff/(.*)$ index.php?r=staff/$1 [L]
RewriteRule ^users/detail/(.*)$ index.php?r=users/detail&id=$1 [L]
RewriteRule ^users/(.*)$ index.php?r=users/$1 [L]
RewriteRule ^admin/(.*)$ index.php?r=admin/$1 [L]